.simple-page-wrap {
    padding: 0;
    position: absolute;
    background-color: rgb(36, 123, 120);
    margin: 0;
    left: calc(50% - 414px/2 - 0.5px);
    bottom: 20px;
    width: 414px;
    height: 896px;
  }


.iphone{
  position: fixed;
  width:479px;
  height: 949px;
  left: calc(50% - 479px/2 - 0.5px);
  bottom: -6px;
  z-index: 9;
  
  background: url(image.png);
  }

.register{
  position: fixed;
  width: 64px;
  height: 48px;
  left: calc(50% - 64px/2 - 0.5px);
  bottom: 700px;
  z-index: 2;

  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */


   color: #ffffff;
}

.usernametitle{
  position: fixed;
width: 48px;
height: 24px;
left: calc(50% - 305px/2 - 0.5px);
bottom: 550px;
z-index: 2;


font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}

.passwordtitle{
  position: fixed;
width: 32px;
height: 24px;
left: calc(50% - 305px/2 - 0.5px);
bottom: 435px;
z-index: 2;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}


.username  {
  position: absolute;
  width: 305px;
  height: 44px;
  left: 50px;
  top: 368px;
  z-index: 2;

  background: #FFFFFF;
  border-radius: 12px;
  }

.password  {
    position: absolute;
    width: 305px;
    height: 44px;
    left: 50px;
    top: 485px;
    z-index: 2;
    
    background: #FFFFFF;
    border-radius: 12px;
  }

.next{
  box-sizing: border-box;
  position: fixed;
  width: 80px;
  height: 44px;
  left: calc(50% - 80px/2 - 0.5px);
  bottom: 260px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  z-index: 2;
  
  
}

.nexttext{
  position: fixed;
width: 64px;
height: 24px;
left: calc(50% - 54px/2 - 0.5px);
bottom: 270px;
z-index: 3;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}