{% extends 'base.html' %}

{% block content %}
<div class="row">
    <img src="../static/images/index.jpg" class="img-fluid" style="max-width: 207px" alt="..." onclick="jump1()">

    <img src="../static/images/index.jpg" class="img-fluid" style="max-width: 207px" alt="...">
</div>

    <div class="row">
    <img src="../static/images/index.jpg" class="img-fluid" style="max-width: 207px" alt="...">
    <img src="../static/images/index.jpg" class="img-fluid" style="max-width: 207px" alt="...">
</div>

<div class="card border-dark mb-3" style="width: 414px;">
  <img src="../static/images/index.jpg" class="card-img-top" alt="图片加载错误">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card border-dark mb-3" style="width: 414px;">
  <img src="../static/images/index.jpg" class="card-img-top" alt="图片加载错误">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card border-dark mb-3" style="width: 414px;">
  <img src="../static/images/index.jpg" class="card-img-top" alt="图片加载错误">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <div class="card border-dark mb-3" style="width: 414px;">
  <img src="../static/images/index.jpg" class="card-img-top" alt="图片加载错误">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<script>
function jump1() {
    window.location.href="test.html";
}
</script>
{% endblock %}