<html>
<head>
    <meta charset="UTF-8">
    <link href="../static/css/style.css" rel="stylesheet">
    <title>Citywalk+</title>
</head>
<body class="simple-page">
<div class="object-image-cloth-metal top">
</div>
<div class="register">
    <span>注册</span>
</div>
<div class="usernametitle">
    <span>用户名</span>
</div>
<div class="passwordtitle">
    <span>密码</span>
</div>
<div class="simple-page-wrap">
    <form method="post">
    <div class="simple-page-form">
        {{ form.hidden_tag() }}
            {{ form.name(class="username") }}
            {{ form.password(class="password") }}
        <div class="next"><span class="nexttext" onclick="submit()">下一步</span>
    </div>
    </div>
    </form>
</div>
<script src="../static/js/jquery.min.js"></script>
<script>
    function submit(){
        var url = "/get_routes";
        $.post(url, {"arr": "str"}, function (data) {
            console.log(data)
        });
    }
</script>


</body>

</html>