<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script src="../static/js/return_data.js">
    </script>
    <script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript">
        let str=f()
        function setInnerHTML() {
            document.getElementById("test").innerHTML = str;
        }
    </script>
</head>
<body>
<p id="test"><font color="#000">asdadada</font></p>
<input type="button" onclick="setInnerHTML()" value="点击"/>

</body>
</html>