




  .page-wrap {
    padding: 0;
    position: absolute;
    background-color: rgb(236, 236, 236);
    margin: 0;
    left: calc(50% - 414px/2 - 0.5px);
    bottom: 20px;
    width: 414px;
    height: 896px;
  }

.iphone{
  position: fixed;
  width:479px;
  height: 949px;
  left: calc(50% - 479px/2 - 0.5px);
  bottom: -6px;
  z-index: 2;
  
  background: url(image.png);
  }

.register{
  position: fixed;
  width: 64px;
  height: 48px;
  left: calc(50% - 64px/2 - 0.5px);
  bottom: 700px;
  z-index: 2;

  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */


   color: #ffffff;
}

.usernametitle{
  position: fixed;
width: 48px;
height: 24px;
left: calc(50% - 305px/2 - 0.5px);
bottom: 550px;
z-index: 2;


font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}

.passwordtitle{
  position: fixed;
width: 32px;
height: 24px;
left: calc(50% - 305px/2 - 0.5px);
bottom: 435px;
z-index: 2;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;
}


.username  {
  position: fixed;
  width: 305px;
  height: 44px;
  left: calc(50% - 305px/2 - 0.5px);
  bottom: 500px;
  z-index: 2;

  background: #FFFFFF;
  border-radius: 12px;
  }

.password  {
    position: fixed;
    width: 305px;
    height: 44px;
    left: calc(50% - 305px/2 - 0.5px);
    bottom: 385px;
    z-index: 2;
    
    background: #FFFFFF;
    border-radius: 12px;
  }

.next{
  box-sizing: border-box;
  position: fixed;
  width: 80px;
  height: 44px;
  left: calc(50% - 80px/2 - 0.5px);
  bottom: 260px;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  z-index: 2;
  
  
}

.nexttext{
  position: fixed;
width: 64px;
height: 24px;
left: calc(50% - 54px/2 - 0.5px);
bottom: 270px;
z-index: 3;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}


.choicetitle{
position: fixed;
width: 150px;
height: 24px;
left: calc(50% - 305px/2 - 0.5px);
bottom: 600px;
z-index: 2;


font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}


.culture{
  box-sizing: border-box;

position: fixed;
width: 133px;
height: 227px;
left: calc(50% - 64px/2 - 124px);
bottom: 365px;

border: 1px solid #FFFFFF;
border-radius: 12px;
  z-index: 2;
  
  
}

.culturetext{
  position: fixed;
  width: 64px;
  height: 24px;
  left: calc(50% - 64px/2 - 91px);
  bottom: 375px;
  
  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
}


.relax{
box-sizing: border-box;

position: fixed;
width: 141px;
height: 227px;
left: calc(50% - 64px/2 + 54px);
bottom: 365px;
  
z-index: 3;

border: 1px solid #FFFFFF;
border-radius: 12px;
}


.relaxtext{
  position: fixed;
  width: 64px;
  height: 24px;
  left: calc(50% - 64px/2 + 94px);
  bottom: 375px;
  
  font-family: 'Source Han Sans CN';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  
}


.column{
position: absolute;
width: 414px;
height: 150px;
left: 0px;
top: 0px;

background: #247B78;
}

.title{
  position: absolute;
width: 80px;
height: 30px;
left: 167px;
top: 56px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #FFFFFF;

}

.back{
  position: absolute;
width: 15.41px;
height: 28px;
left: 14px;
top: 53px;
z-index: 2;
}



.menu{
  
  position: absolute;
  width: 26px;
  height: 20px;
  left: 369px;
  top: 57px;
  z-index: 2;
}  

.steptitle{
  position: absolute;
width: 187px;
height: 30px;
left: 114px;
top: 107px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.map{
  position: absolute;
width: 414px;
height: 261px;
left: 0px;
top: 150px;
background: rgb(151, 207, 188);
}


.steptext{
  position: absolute;
width: 64px;
height: 24px;
left: 175px;
top: 475px;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #000000;
}


.feedback{
  box-sizing: border-box;
  position: fixed;
  width: 80px;
  height: 44px;
  left: calc(50% - 80px/2 - 0.5px);
  bottom: 60px;
  border: 1px solid #000000;
  border-radius: 12px;
  z-index: 2;
  
  
}

.feedbacktext{
  position: fixed;
width: 64px;
height: 24px;
left: calc(50% - 34px/2 - 0.5px);
bottom: 70px;
z-index: 3;

font-family: 'Source Han Sans CN';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;
}

.highlight{
  position: absolute;
width: 319px;
height: 239px;
left: 50px;
top: 520px;
background: #cfcfcf;
border-radius: 28px;
z-index: 2;
}
